@media (min-width: 992px) {
    .title-div {
        width: 200px !important;
    }
}
.link-admin-panel{
    transition: .5s ease;
    width: 0;
    overflow: hidden;
    color: #fff;
    &:hover{
        
    color: #fff;
}
}
.my-program-card{
    transition: .5s ease;
}
.my-program-card:hover .link-admin-panel{
    width: 150px;
}
@media (max-width: 768px) {
    .link-admin-panel{
        width: 150px;
    }
}